$background-img: url(./../img/bg.jpg) center/cover no-repeat;
$nav-text-color: black;
$font-size-title: 36px;
$font-size-normal: 24px;
$font-size-small: 16px;
$red: red;
$blue: blue;
$green: green;